body{
    background:#FBFBFB; 
}
h3{
    font-family: "Montserrat";
}
img.campana{
    height: 55px;
    width: 55px;
}
.cuadradogris{
    background: #B4C0D8;
    height: 320px;
    width: 370px;
    margin-top: 200px;
    margin-bottom: 300px;
    margin-left: 400px;
    margin-right: 300px;
    box-shadow: 10px 10px 30px rgb(210,210,210);
    padding: 40px;
}
span{
    color: #588BDA;
}
div.boton{
    color:#FBFBFB;
    background:#588BDA ;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 240px;
    margin-left: 5px;
    border-radius: 2mp;
}
